<!DOCTYPE html>
<html>
    <head>
        <title>Attendance marked</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">
    </head>
    <body>
        <nav>
            <label class="logo" ><font face ="Verdana" >MS Engage'22</font></label>
            <ul>
                <li><a href =#><font face = "Verdana" ><a href = "{{ url_for('page6') }}">Contact us</a>  |<a href = "{{ url_for('page1') }}">Log Out</a></font></a></li>
            </ul>
        </nav>
        <center>
            <div class="hello"><font face = "Trebuchet MS"><h1>Get In Touch</h1><br> Do let me know anything about the app and methods to improvise.<br> Thank you!</font></div>
            <div class="card-5">
                <div class="card-image-5"></div>
                <div class="card-text">
                  <p>
                  <h4><font size ="4px" color = "#444240">LOCATION</font></h4>
                  <font color="#807d7a">Ghaziabad/Dhanbad</font>
                  </p>
                </div>
            </div>
            <div class="card-6">
                <div class="card-image-6"></div>
                <div class="card-text">
                  <p>
                  <h4><font size ="4px" color = "#444240">CALL</font></h4>
                  <font color="#807d7a"> (91) 8130605504</font>
                  </p>
                </div>
            </div>
            <div class="card-7">
                <div class="card-image-7"></div>
                <div class="card-text">
                  <p>
                  <h4><font size ="4px" color = "#444240">E-MAIL</font></h4>
                  <font color="#807d7a">asra.faiz2@gmail.com </font>
                  </p>
                </div>
            </div>
        </center>
        <footer>        
            <h4><font face = "Trebuchet MS">SCHOOLS | INSTITUTES | ORGANIZATIONS</font></h4>
        </footer>

    </body>
</html>