<!DOCTYPE html>
<html>
    <head>
        <title> Welcome</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">
        
    </head>
    <body>
      <nav>
        <label class="logo" ><font face ="Verdana" >MS Engage'22</font></label>
        <ul>
          <li><a href =#><font face = "Verdana" ><a href = "{{ url_for('page6') }}">Contact us</a>  |<a href = "{{ url_for('page1') }}">Log Out</a></font></a></li>
        </ul>
      </nav>

      <div>
        <div class="heading">
          <h1><font face = "Trebuchet MS" color = "#3366ff">Face Recognition</font> <font face ="Trebuchet MS" color ="#444240">Attendance System </font></h1><br><br>
          <h1 style="color: #3366ff;"><font face = "Trebuchet MS"> Centralized and fullproof</font></h1><br><br>
          <h1 style="color: rgb(68, 66, 64);"><font face = "Trebuchet MS">Face is the new ID </font></h1>
        </div>
        <div class="image-1"> </div>
      </div>
      <a href="{{ url_for('page3') }}"><center><button class="btn-1"> Mark Attendance</button></center></a>

      
      <div>
        <div class="card-1">
        <div class="card-image-1"></div>
        <div class="card-text">
          <p>
          <h4><font size ="4px" color = "#444240">Accurate Face Recognition</font></h4>
          <font color="#807d7a">Automatically recognizes face with mask on. Deep learning powered robust solution</font>
          </p>
        </div>
        </div>
        <div class="card-2">
        <div class="card-image-2"></div>
        <div class="card-text">
          <p>
          <h4><font size ="4px" color = "#444240">Time efficient</font></h4>
          <font color="#807d7a">RecordS attendance within seconds and provides automated reports </font>
          </p>
        </div>
        </div>
        <div class="card-3">
        <div class="card-image-3"></div>
        <div class="card-text">
          <p>
          <h4><font size ="4px" color = "#444240">Bowser-based application</font></h4>
          <font color="#807d7a">A web app accessible across a range of devices for users </font>
          </p>
        </div>
        </div>
        <div class="card-4">
        <div class="card-image-4"></div>
        <div class="card-text">
          <p>
          <h4><font size ="4px" color = "#444240">User-centric</font></h4>
          <font color="#807d7a">Responsive and user-friendly, provides pactical solutions</font>
          </p>
        </div>
        </div>
      </div>

      <footer>        
        <h4><font face = "Trebuchet MS">SCHOOLS | INSTITUTES | ORGANIZATIONS</font></h4>
      </footer>
                            
            

        
    
         
    </body>
</html>